<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnyehyo.base.system.mapper.ISysMenuMapper">

	<sql id="selectMenuVo">
	    select ID, name, type, permission from base_resource_new
    </sql>

	<select id="findMenus" parameterType="int" resultType="com.johnyehyo.base.system.domain.BaseResEntity">
		<include refid="selectMenuVo"/>
			where id =  #{id}
	</select>

	<select id="getResources" parameterType="int" resultType="com.johnyehyo.base.system.domain.BaseResEntity">
		<include refid="selectMenuVo"/>
			where parent_id =  #{parentId} order by sortno,id
	</select>
 	
</mapper> 
